<h1>Editing book</h1>

<% form_for(@book) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :bookId %><br />
    <%= f.text_field :bookId %>
  </p>
  <p>
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :publisher %><br />
    <%= f.text_field :publisher %>
  </p>
  <p>
    <%= f.label :genreId %><br />
    <%= f.text_field :genreId %>
  </p>
  <p>
    <%= f.label :dateAdded %><br />
    <%= f.datetime_select :dateAdded %>
  </p>
  <p>
    <%= f.label :totalPages %><br />
    <%= f.text_field :totalPages %>
  </p>
  <p>
    <%= f.label :imageId %><br />
    <%= f.text_field :imageId %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>