<p id="notice"><%= notice %></p>

<h3><%=@customer.username%></h3>
<p>
   <%=@customer.bio%>
   <% #TODO User profile text %>
</p>
<table>
    <tr>
    <th>Title</th>
    <th>Author</th>
    <th>genre</th>
    <th>Publisher</th>
    <th>ISBN</th>
    <th>Description</th>
    <th>Seller</th>
    <th></th>
    <th></th>
  </tr>
<% 
@books = Book.where(:customerId => @customer.id).paginate(:page => params[:page],:order => 'bookTitle ASC', :per_page => 5)
@books.each do |book| %>
  <tr>
    <td><%= link_to book.bookTitle, book %></td>
    <td><%= book.author %></td>
    <td><%= (book.genre.name).to_s %></td>
    <td><%= book.publisher %></td>
    <td><%= book.isbn %></td>
    <td><%= book.description %></td>
      <% cust = Customer.find(book.customerId) %>
    <td><%= link_to cust.username, cust %></td>
    <% if anybody_signed_in? %>
     <% if ((current_customer.id).to_s==(book.customerId).to_s or current_customer.admin)%>
      <td><%= link_to 'Edit', edit_book_path(book) %></td>
      <td><%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete %></td>
     <%	end %>
    <% end %>
  </tr>
<% end %>
</table>
<%= will_paginate @books %>

<%= link_to 'Back', books_path %>
