<p id="notice"><%= notice %></p>

<p>
  <b>Booktitle:</b>
  <%= @book.bookTitle %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>
<p>
  <b>Genre:</b>
  <%= @book.genre.name %>
 
</p>
<p>
  <b>Publisher:</b>
  <%= @book.publisher %>
</p>

<p>
  <b>Isbn:</b>
  <%= @book.isbn %>
</p>

<p>
  <b>Description:</b>
  <%= @book.description %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
